/* Estilos generales */
style {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

body {
    font-family: "Beau Rivage", cursive;
}

h1 {
    font-size: 2.5rem;
    padding: 15px 0;
    font-family: "Beau Rivage", cursive;
}

h2 {
    font-size: 1.8rem;
    font-family: "Beau Rivage", cursive; 
}

p {
    font-size: 1.5rem;
    font-family: "Beau Rivage", cursive; 
}

.btn-info {
    font-size: 1.3rem;
    margin: 20px;
    font-family:"Beau Rivage", cursive ;
}

.texto-oscuro {
    color: #000;
}

.texto-claro {
    color: #fff;
}

.seccion-oscura {
    color: white;
    background-color:  #1b1b32;
    
  
}

.seccion-clara {
    color: black;
    background-color: #ffff;
}

.seccion-descripcion {
    font-size: 1.3rem;
    color: #584e4e;
}

.row .columna{
    color: #ce6006;
}

/* Barra de navegación. */
.navbar {
    padding: 2rem;
    background-color:  rgb(205, 231, 231);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Sección Hero */

.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
}

.hero-principal {
    padding: 3rem;
}

.hero-principal h2 {
font-size: 1.5rem;
color: #615156;
}

.hero-imagen-desarrollador {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin: 20px;
}

/* Sobre mi */

.sobre-mi {
    height: 500px;
    padding: 20px;
}

.sobre-mi .contenedor {
    text-align: center;
     }

/* Experiencia */
.experiencia {
   padding: 40px 40px 60px 40px;
   
}

.experiencia .columna {
    height: 350px;
    width: 290px;
    padding: 10px;
    border: 2px solid #8080804d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color: white;
    background-color: #1b1b32;
}

.experiencia i {
    font-size: 2.5rem;
    color: #1b1b32;
    padding: 8px 19px;
    border-radius: 50%;
}

.experiencia-titulo {
font-weight: bold;
padding: 10px 0;
}

.badges-contenedor {
    font-size: 25px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 0;
}

.badges {
    margin: 4px;
}
.col-12 h1{
    font-weight: bold;
}

/* Proyctos */

.proyectos-recientes {
    text-align: center;
}

.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transform: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: #000;
    font-size: 60px;
    margin: 10px;
}

.articulos {
    min-height: 500px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.articulos h2{
    font-size: 2.5rem;
    color: #ce6006;
}

.articulos .card {
    width: 80%;
    max-width: 600px;
    margin: 20px;
}

.articulos .card-header{
    font-weight: bold;
    font-size: 25px;
}

/* Testimonios */

.testi {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios {
    padding: 40px 40px 80px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimonios .carousel-inner{
    max-width: 600px;
}

.testimonio-imagen {
    margin: 10px 10px 20px 10px;
    width: 150px;
    height: 150px;
}


.carousel-item .container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testimonio-texto {
    max-width: 70%;
    font-size: 20px;
    text-align: center;
    font-family: "Playfair Display", serif;
}

.testimonio-info {
font-weight: bold;
text-align: center;
}

.testimonio-info p {
    margin-bottom: 10;
}

.testimonio-footer .cliente {
font-size: 1.5rem;
}

.testimonio-info .cargo {
    font-size: 1.2rem;
    color: #584e4e;
} 

/* Contacto */
.row .col-12{
    margin: 10px;
}


/* Adaptable responsivo */

@media screen and (max-width:400px) {
  .overlay h2 {
    font-size: 18px;
  }  

  .overlay i {
    font-size: 40px;
  }
    
}

@media screen and (max-width: 767px) {
    .navbar-brand {
        display: none;
    }
    
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
    
}

@media screen and (max-width: 650px) {
    .testimonio-imagen {
        height: 120px;
        width: 120px;
    }

    .testimonio-texto {
        font-size: 14px;
    }
}